#chinesecenter{
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    padding-left: 30vw;
}
#location-back{
    margin-left: 290px;
}

.backGroundChange{
    background-color: black;
    height: 100vh;
}

.noSign{
    padding-top: 40vh;
}