.App {
  text-align: center;
  background-color: rgba(201, 157, 238, 0.815);
  height: 100vh;
  background-image: url('https://i.pinimg.com/564x/96/82/c5/9682c5d382b98d67183323aa4b52e462.jpg');
}

#centered{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
