body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(239, 239, 240); */
  background-image: url('https://i.pinimg.com/564x/96/82/c5/9682c5d382b98d67183323aa4b52e462.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: rgb(239, 239, 240);
}

#root{
background-color: rgb(239, 239, 240);
}
